{% extends "base.html" %}

{% block content %}
	<div class="maintexture">
		<div class="maincontainer">
			<div class="left">
				<div class="rally vevent">
					<a href="http://www.facebook.com/event.php?eid=122791164445194#!/event.php?eid=168075369871660">
						<h2>
							<span class="other summary">Restore Your Sanity</span>
							Join us on the <span class="location">national mall</span>, <abbr class="dtstart" title="2010-10-30T12:00-04:00">October 30th, noon</abbr> to <abbr class="dtend" title="2010-10-30T15:00-04:00">3 p.m.</abbr>
						</h2>
					</a>
				</div>
				<div id="followthehoney">Want to Learn More? Sign Up Here to Follow the Honey</div>
				<form id="mailinglist-form" method="post" action="http://local.publicequalsonline.com/page/signup/transbearencysignup">
					<ul>
						<li>
							<label class="firstname" for="firstname">First name (optional)</label>
							<input type="text" id="firstname" name="firstname" value="">
						</li>
						<li>
							<label class="email" for="email">Email</label>
							<input type="text" id="email" name="email" value="">
						</li>
						<li>
							<label class="zip" for="zipcode">ZIP code</label>
							<input type="text" id="zipcode" name="zip" value="">
						</li>
						<li>
							<input type="submit" class="join_button" name="submit-btn" value="">
						</li>
					</ul>
				</form>
				<a id="sflogo" href="http://www.sunlightfoundation.com">Sunlight Foundation</a>
				<div class="share">
					<h3>Share:</h3>
					<a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Ftransbearency.com%2F&amp;t=Sunlight+Foundation%27s+Operation+Transbearency" title="Share on Facebook" class="facebook">Facebook</a>
					<a href="http://twitter.com/?status=I%27m%20restoring%20my%20sanity%20by%20becoming%20a%20bear%20for%20%23transbearency.%20Join%20me%21%20http%3A%2F%2Ftransbearency.com" title="Share on Twitter" class="twitter"></a>
				</div>
			</div>
			<div class="right">
				<div class="banner">
					<h2><span class="some">Some things are just common sense,</span> like open government policies that put public information online where the public can access it. <span class="other">Other things are bears.</span></h2>
					<div class="col1">
						<p>Bears don’t have anything to do with government, but you do. Every vote you cast elects politicians and administrations that play a role in your life, from the taxes you pay to the safety of the roads that you drive on to the health care available to you after a bear mauling.</p>
					</div>
					<div class="col2">
						<p>We at the <a href="http://sunlightfoundation.com">Sunlight Foundation</a> think that you have a right to know who’s influencing your government and that you should have access to the raw data and information at play in politics. That’s why we build <a href="http://mashable.com/2010/10/20/online-election-tools/">insanely useful tools</a> and write compelling stories and policies to secure those rights.</p>
					</div>
				</div>
				<h2 class="other">What People Are Saying</h2>
				<div class="col1">
					<embed style='display:block' src='http://media.mtvnservices.com/mgid:cms:item:comedycentral.com:210979' width='299' height='250' type='application/x-shockwave-flash' wmode='window' allowFullscreen='true' flashvars='autoPlay=false' allowscriptaccess='always' allownetworking='all' bgcolor='#000000'></embed>
				</div>
				<div class="col2">
					<iframe title="YouTube video player" class="youtube-player" type="text/html" width="387" height="248" src="http://www.youtube.com/embed/AZeqhV179fc?rel=0&amp;hd=1" frameborder="0"></iframe>
				</div>
			</div>
		</div>
	</div>
{% endblock %}