{% extends "base.html" %}

{% block content %}
	<div class="maintexturesmall">
		<div class="maincontainer">
			<div class="left_alt">
				<h2 class="other">What People Are Saying</h2>
				<div class="col1">
					<embed style='display:block' src='http://media.mtvnservices.com/mgid:cms:item:comedycentral.com:210979' width='299' height='250' type='application/x-shockwave-flash' wmode='window' allowFullscreen='true' flashvars='autoPlay=false' allowscriptaccess='always' allownetworking='all' bgcolor='#000000'></embed>
				</div>
				<div class="col2">
					<!-- other video here -->
				</div>
			</div>
		</div>
	</div>
{% endblock %}