<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<title>Transbearency</title>
	<link rel="stylesheet" href="/static/screen.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script src="http://use.typekit.com/ddz7xce.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<div class="headerimage">
		<div class="headercontainer">
			<h1>
				<big>Operation Transbearency</big> <small>Follow the Honey</small>
			</h1>
		</div>
	</div>
	<div class="maintexturesmall">
		
		<div class="maincontainer">
			<div class="left_alt">
				<h2 class="other">What People Are Saying</h2>
				<div class="col1">
					<embed style='display:block' src='http://media.mtvnservices.com/mgid:cms:item:comedycentral.com:210979' width='299' height='250' type='application/x-shockwave-flash' wmode='window' allowFullscreen='true' flashvars='autoPlay=false' allowscriptaccess='always' allownetworking='all' bgcolor='#000000'></embed>
				</div>
				<div class="col2">
					<object width="300" height="250"><param name="movie" value="http://www.youtube.com/v/GZbn-xQbDtE?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/GZbn-xQbDtE?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="300" height="250"></embed></object>
				</div>
			</div>

		</div>
	</div>
	
	<div class="clear"></div>
	
	<div class="footer">
		<div class="left">
			<p><a href="http://www.flickr.com/photos/altuwa/4339134771/">Grafton Lakes Winterfest,</a> Copyright 2010 flickr user Sébastien B.</p>
		</div>	
		<div class="right">
			<p>Founded in 2006, the Sunlight Foundation is a non-partisan non-profit that uses cutting-edge technology and ideas to make government transparent and accountable. Visit <a href="http://www.sunlightfoundation.com">SunlightFoundation.com</a> to learn more.</p>
		</div>
	</div>
</body>
</html>