{% extends "base.html" %}

{% block content %}
	<div class="maintexturesmall">
		<div class="maincontainer">
			<div class="left_alt">
				
				<h2 class="other">Thank you for joining Operation Transbearency!</h2>
				<p>Operation Transbearency is a project of the Sunlight Foundation, a non-profit, nonpartisan organization that uses the power of the Internet to fight for an open, transparent government.</p>
				<p>At Sunlight, we advocate for new policies to make government accountable, build tools that enable easy access to public information, train journalists in how to watchdog Washington, and organize for 21st century laws to make public information online and in real time.</p>
				<p>We also like bears.</p>
				<p>
					We're excited to have you join us. We'll keep you updated about Operation Transbearency, and occasionally on other cool Sunlight projects. We'd also love to have you join us on
					<a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Ftransbearency.com%2F&amp;t=Sunlight+Foundation%27s+Operation+Transbearency" title="Share on Facebook">Facebook</a>
					and
					<a href="http://twitter.com/?status=I%27m%20restoring%20my%20sanity%20by%20becoming%20a%20bear%20for%20%23transbearency.%20Join%20me%21%20http%3A%2F%2Ftransbearency.com" title="Share on Twitter">Twitter</a>.
					Let us know if you're coming to the rally by joining the <a href="http://www.meetup.com/Operation-Transbearency/">Transbearency movement on Meetup.com</a>.
					Want real-time information on how to join us the day of the rally? Text <a href="sms:228466">BEAR</a> to 228466 (ACTION) to get mobile updates.
				</p>
				
				<h2 class="other">What People Are Saying</h2>
				<div class="col1">
					<embed style='display:block' src='http://media.mtvnservices.com/mgid:cms:item:comedycentral.com:210979' width='299' height='250' type='application/x-shockwave-flash' wmode='window' allowFullscreen='true' flashvars='autoPlay=false' allowscriptaccess='always' allownetworking='all' bgcolor='#000000'></embed>
				</div>
				<div class="col2">
					<!-- other video here -->
				</div>
				
			</div>
		</div>
	</div>
{% endblock %}